__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
*.egg-info/
dist/
build/
*.log
.DS_Store
.ipynb_checkpoints
*.sqlite3
*.db
*.mypy_cache/
*.pytest_cache/
.cache/
*.coverage
.coverage.*
htmlcov/
*.mo
*.pot
*.po
*.bak
*.swp
*.swo
*.tmp
*.orig
*.idea/
.vscode/
venv/